@import url('https://fonts.googleapis.com/css?family=Press+Start+2P');

body {
  background-color:white;
  font-family: 'Press Start 2P', cursive;
  background-image: url(http://img4.wikia.nocookie.net/__cb20120730200249/ipod/images/6/65/Earth_and_Moon.jpg);
  background-size: cover;
}

.testEng1{
  display: none;
}

.testEng2{
  display: none;
}

.testEng3{
  display: none;
}
