@import url('https://fonts.googleapis.com/css?family=Julius+Sans+One|Roboto+Condensed');



body {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
  }
  
  main {
    flex: 1;
  }

  footer {
    font-family: 'Roboto Condensed', sans-serif;
    background-color: rgba(0, 0, 0, 0.3);
      p {
      color: #f8f8fa;
      }
  }

 h6 {
    color: #f8f8fa;
  }

 