@import url('https://fonts.googleapis.com/css?family=Julius+Sans+One|Roboto+Condensed');



body {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
  }
  
  main {
    flex: 1;
  }

  footer {
    font-family: 'Roboto Condensed', sans-serif;
    background-color: rgba(0, 0, 0, 0.3);
    -webkit-box-shadow: 0px 0px 10px 1px #4588cf;
    -moz-box-shadow: 0px 0px 10px 1px #4588cf;
    box-shadow: 0px 0px 10px 1px #4588cf;
    display: inline-block;
    
      p {
      color: #98c1f5;
      display: inline-block;
      margin-left: 10px;
      }
  }

 h6 {
    color: #98c1f5;
    display: inline-block;
    margin-left: 10px;
  }

 .oneline {
  display: inline-block;
  text-align: center;
 }