.game {
  position: relative;
  background-color: #000;
  color: white;
  height: 90vh;
   
  .score {
    position: absolute;
    top: 5px;
    right: 10px;
  }
   
  .lives {
    position: absolute;
    top: 5px;
    left: 10px;
  }
   
  .main-text {
    display:none;
    position: absolute;
    width: 100%;
    text-align: center;
    top: 150px;
  }
   
  .paddle {
    width: 200px;
    height: 30px;
    background-color: #999;
    position: absolute;
    z-index: 1;
    bottom: 0;
  }
   
  .brick {
    left: 300px;
    top: 200px;
    width: 50px;
    height: 20px;
    background-color: #777;
    position: absolute;
    z-index: 1;
  }
   
  .ball {
    position: absolute;
    height: 30px;
    width: 30px;
    background-color: #fff;
    border-radius: 50%;
  }
  
}