.game {
  position: relative;
  background-color: #000;
  color: white;
  height: 80vh;
  width:120vh;
  margin-top: 20px;
  margin-left: auto;
  margin-right: auto;
  border-style:solid;
  border-width: 5px;
  border-color: white;
  background-image: url("/images/backgroundGame1.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  
     
  .score {
    position: absolute;
    top: 5px;
    right: 10px;
  }
   
  .lives {
    position: absolute;
    top: 5px;
    left: 10px;
  }
   
  .main-text {
    display:none;
    position: absolute;
    width: 100%;
    text-align: center;
    top: 150px;
  }
   
  .paddle {
    width: 200px;
    height: 30px;
    position: absolute;
    z-index: 1;
    bottom: 0;
    border-radius: 20%;
    background-color: rgb(  211, 220, 248 );
    box-shadow:
        0 0 100px 10px #516bfb ,  
        0 0 100px 10px rgb(53, 40, 231), 
        0 0 100px 10px rgb(38, 0, 255); 
  }


   
  .brick {
    left: 2.77vh;
    top: 100px;
    width: 7vh;
    height: 20px;
    position: absolute;
    z-index: 1;
  }
   
  .ball {
    background-image: url("/images/stormtrooper.png");
    position: absolute;
    height: 30px;
    width: 30px;
    
    border-radius: 50%;
    
      -webkit-animation: rotation 2s infinite linear;
  
  }
  @-webkit-keyframes rotation {
		from {
				-webkit-transform: rotate(0deg);
		}
		to {
				-webkit-transform: rotate(359deg);
		}
}}