@import url('https://fonts.googleapis.com/css?family=Chakra+Petch');

.display-4 {
    font-family: 'Chakra Petch', sans-serif;
    font-size: 4rem;
    color: white;
    text-shadow: 3px 2px 5px #4588cf;
  }

  .high-score .container  {
    background-color: rgba(0, 0, 0, 0.5);
    padding: 10px;
}