@import url('https://fonts.googleapis.com/css?family=Julius+Sans+One|Roboto+Condensed');


article  {
    font-family: 'Roboto Condensed', sans-serif;
    font-size: 20px;
    color: white;
   
}
.history .container {
    background-color: rgba(0, 0, 0, 0.5);
}


.zoom
{
    position: absolute;
    width:350px;
    height:210px;
    -webkit-transition: all 200ms ease-in;
    -webkit-transform: scale(1); 
    -ms-transition: all 200ms ease-in;
    -ms-transform: scale(1); 
    -moz-transition: all 200ms ease-in;
    -moz-transform: scale(1);
    transition: all 200ms ease-in;
    transform: scale(1);   
    pointer-events: stroke;
    cursor: zoom-in;

}
.zoom.active
{
    position: relative;
    box-shadow: 0px 0px 150px #000000;
    z-index: 2;
    -webkit-transition: all 200ms ease-in;
    -webkit-transform: scale(1.8);
    -ms-transition: all 200ms ease-in;
    -ms-transform: scale(1.8);   
    -moz-transition: all 200ms ease-in;
    -moz-transform: scale(1.8);
    transition: all 200ms ease-in;
    transform: scale(1.8);
}