.navbar {
    position: relative;
    background-color: rgba(0, 0, 0, 0.3);
    box-shadow: 1px 1px 1px 1px rgb(122, 122, 175);

    .logo {
        position: absolute;
        left: calc(50% - 50px);
        margin: 0 auto;
        display: block;
        top: 8px;
    } 

}


.flagDesign {
    opacity: 0.5;
    cursor: pointer;
    max-height: 18px;
    max-width: 18px;

    &:hover {
        opacity: 1;
    }
}   

.flagPlacement {
    position: absolute;
    top: 17px;
    right: 30px;
}

.sweFlag {
    display: none;
}

a {
    padding: 10px;
    margin-left: 10px;
}

.bg-light {
    background-color: #c7c7c7;
}