.navbar {
    position: relative;

    .logo {
        position: absolute;
        left: calc(50% - 50px);
        margin: 0 auto;
        display: block;
        top: 8px;
    } 

}


.flagDesign {
    opacity: 0.5;
    cursor: pointer;
    max-height: 18px;
      max-width: 18px;

    .flagDesign:hover {
        opacity: 1;
    }
}   

.flagPlacement {
    position: absolute;
    top: 17px;
    right: 30px;
}

.sweFlag {
    display: none;
}