.navbar {
    position: relative;
    background-color: rgba(0, 0, 0, 0.3);
    -webkit-box-shadow: 0px 0px 10px 1px #4588cf;
    -moz-box-shadow: 0px 0px 10px 1px #4588cf;
    box-shadow: 0px 0px 10px 1px #4588cf;

    .logo {
        position: absolute;
        left: calc(50% - 50px);
        margin: 0 auto;
        display: block;
        top: 8px;
    } 

}


.flagDesign {
    opacity: 1;
    cursor: pointer;
    max-height: 18px;
    max-width: 18px;

    &:hover {
        opacity: 2;
    }
}   

.flagPlacement {
    position: absolute;
    top: 20px;
    right: 36px;
    min-height: 23px;
    min-width: 23px;
}

.sweFlag {
    display: none;
}

a {
    padding: 10px;
    margin-left: 10px; 
    color: #4588cf;
}

.bg-light {
    background-color: #c7c7c7;
}

nav a {
    margin-left: 37px;
    margin-right: -4px;
}
